<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../static/style-form.css" th:href="@{/style-form.css}">
    <link rel="stylesheet" type="text/css" href="../../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div class="menu">
    <ul>
        <li>
            <a href="http://schedule.edu.vn/home" th:href="@{http://schedule.edu.vn/home}">
                <button type="button">Trang chủ</button>
            </a>
        </li>
        <li>
            <a href="http://schedule.edu.vn/api/schedules/list" th:href="@{http://schedule.edu.vn/api/schedules/list}">
                <button type="button"> Lịch thi</button>
            </a>
        </li>
        <li>
            <a href="http://schedule.edu.vn/api/teachers" th:href="@{http://schedule.edu.vn/api/teachers}">
                <button type="button" > Giảng viên</button>
            </a>
        </li>
        <li>
            <a href="http://schedule.edu.vn/api/classes" th:href="@{http://schedule.edu.vn/api/classes}">
                <button type="button"> Lớp học</button>
            </a>
        </li>

        <li class="dropdown">
            <a href="#">
                <button type="button"> Input</button>
            </a>

            <div class="dropdown-content">
                <a href="{http://schedule.edu.vn/api/classes/add" th:href="@{http://schedule.edu.vn/api/classes/add}">Add class</a>
                <a href="http://schedule.edu.vn/api/teachers/add" th:href="@{http://schedule.edu.vn/api/teachers/add}">Add teacher</a>
                <a href="http://schedule.edu.vn/api/schedules/add" th:href="@{http://schedule.edu.vn/api/schedules/add}"> Add schedule</a>
            </div>
        </li>
    </ul>
</div>

<div class="form">
    <h1>Thêm lớp</h1>
    <form action="#" th:action="@{/api/classes/add}" th:object="${class}" method="POST" enctype="utf8">
        <div>
            <label for="maLop">Mã lớp:</label>
            <input type="number" th:field="*{maLop}" placeholder="Nhập Mã Lớp" id="maLop" required>
        </div>
        <div>
            <label for="kyHoc">Kỳ học:</label>
            <input type="text" th:field="*{kyHoc}" placeholder="Nhập Kỳ Học" id="kyHoc" required >
        </div>
        <div>
            <label for="tenLop">Tên lớp:</label>
            <input type="text" th:field="*{tenLop}" placeholder="Nhập Tên Lớp" id="tenLop" required >
        </div>
        <div>
            <label for="soLuongSV">Số lượng sinh viên:</label>
            <input type="number" th:field="*{soLuongSV}" placeholder="Nhập Số Lượng Sinh Viên" id="soLuongSV" required >
        </div>
        <div>
            <label for="toChucThi">Tổ chức thi:</label>
            <input type="checkbox" th:field="*{toChucThi}" placeholder="Nhập trạng thái thi" id="toChucThi"  >
        </div>
        <div>
            <label for="kinhPhi">Kinh phí:</label>
            <input type="number" th:field="*{kinhPhi}" placeholder="Nhập Kinh Phí Thi" id="kinhPhi"  >
        </div>
        <div>
            <label for="teacher">Giảng viên:</label>
            <input type="number" th:field="*{giangVienId}" placeholder="Nhập Mã ID Giảng Viên" id="teacher"  >
        </div>

        <div>
            <button type="submit" >Add</button>
        </div>
    </form>
</div>

</body>
</html>