<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" th:href="@{/style.css}">
</head>
<body>

<div class="menu">
    <ul>
        <li>
            <a href="http://schedule.edu.vn/home" th:href="@{http://schedule.edu.vn/home}">
                <button type="button">Trang chủ</button>
            </a>
        </li>
        <li>
            <a href="http://schedule.edu.vn/api/schedules/list" th:href="@{http://schedule.edu.vn/api/schedules/list}">
                <button type="button"> Lịch thi</button>
            </a>
        </li>
        <li>
            <a href="http://schedule.edu.vn/api/teachers" th:href="@{http://schedule.edu.vn/api/teachers}">
                <button type="button" > Giảng viên</button>
            </a>
        </li>
        <li>
            <a href="http://schedule.edu.vn/api/classes" th:href="@{http://schedule.edu.vn/api/classes}">
                <button type="button"> Lớp học</button>
            </a>
        </li>

        <li class="dropdown">
            <a href="#">
                <button type="button"> Input</button>
            </a>

            <div class="dropdown-content">
                <a href="{http://schedule.edu.vn/api/classes/add" th:href="@{http://schedule.edu.vn/api/classes/add}">Add class</a>
                <a href="http://schedule.edu.vn/api/teachers/add" th:href="@{http://schedule.edu.vn/api/teachers/add}">Add teacher</a>
                <a href="http://schedule.edu.vn/api/schedules/add" th:href="@{http://schedule.edu.vn/api/schedules/add}"> Add schedule</a>
            </div>
        </li>
    </ul>
</div>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên GV</th>
            <th>SĐT</th>
            <th>Email</th>
            <th>Viện</th>
            <th>Phòng làm việc</th>
            <th>Trông thi</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="teacher :${pageTeacher}">
            <th th:text="${teacher.id}"/>
            <th th:text="${teacher.name}"/>
            <th th:text="${teacher.phoneNumber}"/>
            <th th:text="${teacher.emailAddress}"/>
            <th th:text="${teacher.vien}"/>
            <th th:text="${teacher.office}"/>
            <th th:text="${teacher.trongThi}"/>
            <th><a th:href="@{/api/teachers/update/{id} (id = ${teacher.id})}">
                Edit</a></th>
            <th><a th:href="@{/api/teachers/remove/{id} (id = ${teacher.id})}">
                Delete</a></th>
        </tr>
        </thead>

        <tbody id = "body-table">
        <tr>

        </tr>
        </tbody>
    </table>
</div>
<div class="pagination" >
    <a th:if="${pageIndex > 1}" th:href="@{/api/teachers(page = ${pageIndex - 1})}">&laquo;</a>
    <a th:href="@{/api/teachers(page = '1')}">1</a>
    <a th:href="@{/api/teachers(page = '2')}">2</a>
    <a th:href="@{/api/teachers(page = '3')}">3</a>
    <a th:href="@{/api/teachers(page = '4')}">4</a>
    <a th:href="@{/api/teachers(page = '5')}">5</a>
    <a th:href="@{/api/teachers(page = '6')}">6</a>
    <a th:href="@{/api/teachers(page = '7')}">7</a>
    <a th:href="@{/api/teachers(page = '8')}">8</a>
    <a th:href="@{/api/teachers(page = '9')}">9</a>
    <a th:href="@{/api/teachers(page = '10')}">10</a>
    <a th:href="@{/api/teachers(page = ${pageIndex + 1})}">&raquo;</a>
</div>

</body>
</html>